.mainCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    border: 1px solid grey;
    padding: 1rem;
    list-style-type: none;
}

.daTitle {
    font-family: fantasy;
    color: darkcyan;
    margin-top: 2rem;
}

.daFoot {
    font-family: cursive;
}

.todo-item {
    border: 1px solid grey;
}